:root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  height: 100%;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-form {
  --el-form-inline-content-width: 180px;
}

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  height: 100%;
}

/* 修改进度条样式 */
#container {
  width: 100%;
  position: absolute;
  height: 3px;
}

#nprogress .bar {
  height: 100% !important;
}
